<main>
  <header class="brand-name">
    <img class="brand-logo" src="house-logo.png" alt="logo" aria-hidden="true" />
  </header>ng
  <section class="content">
    <app-home></app-home>
  </section>

  <!-- HousingLocation Component being used here -->
  <section>
    
  </section>

  <!-- Search form for city filtering -->
  <section>
    <form>
      <input class="form-control min d-inline-block m-3" type="text" placeholder="Filter by city" aria-label="Filter by city" style="width: 30%" />
      <button type="button" class="btn btn-primary">Search</button>
    </form>
  </section>
</main>
